.bottom {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background-color: #efeff0;

  .left a,
  .right a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #61646b;

    h1 {
      font-size: 12px;
    }
  }
}
