.home {
  width: 100%;

  .top {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      width: 100%;
      padding: 20px;
      position: relative;
      background-image: url("/images/home/bg-logo.png");
      background-repeat: no-repeat;
      background-size: cover;

      .info {
        height: 20vh;
        border-radius: 10px;
        margin-bottom: 30px;
        background-color: #fff;
        border: 0.5px solid rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.2);
      }

      .items {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;

        .item {
          flex: 1;
          border-radius: 10px;
          background: #fff;
          border: 0.5px solid rgba(0, 0, 0, 0.15);
          -webkit-box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.2);
          -moz-box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.2);
          padding: 10px;

          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: inherit;
            text-decoration: none;

            h1 {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
